ImgLogo jpgtype  ImgLogo.jpg
ImgBj jpgtype  ImgBj.jpg
ImgPlay jpgtype  ImgPlay.jpg
ImgPause jpgtype  ImgPause.jpg
ImgStop jpgtype  ImgStop.jpg 
ImgWav jpgtype  ImgWav.jpg 
ImgNoWav jpgtype  ImgNoWav.jpg 
ImgSet jpgtype  ImgSet.jpg 
ImgFull jpgtype  ImgFull.jpg 
//Í¼Æ¬×ÊÔ´
